.alert {
  color: red;
  font-size: larger;
  font-weight: bold;
}

.comment  {border:none;border-collapse:collapse;border-color:#9ABAD9;border-spacing:0;margin:0px auto;table-layout: fixed;}
.comment td{background-color:#EBF5FF;border-color:#9ABAD9;border-style:solid;border-width:0px;color:#444;
  font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;max-width: 666px}
.comment th{background-color:#409cff;border-color:#9ABAD9;border-style:solid;border-width:0px;color:#fff;
  font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}


.comment .comment-enyh{background-color:#ace8ef;border-color:#000000;color:#000000;font-size:14px;text-align:left;vertical-align:top}

.comment .comment-ucrh{background-color:#ace8ef;border-color:#000000;color:#000000;text-align:left;vertical-align:top}
.hozz{color:#7AD639;text-align:center;}




.tg  {border-collapse:collapse;border-color:#000000;border-spacing:0;margin:0px auto;table-layout: fixed;}
.tg tr:nth-child(even){background-color: #fabc71;}
.tg tr:nth-child(odd){background-color: #ffd4a1;}
.tg td{border-color:#000000;border-width:1px;color:#002b36;
  font-family:Arial, sans-serif;font-size:16px;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{background-color:#ffa22f;border-color:#000000;border-width:1px;color:#002b36;
  font-family:Arial, sans-serif;font-size:18px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-2klh{border-color:#000000;text-align:right;vertical-align:top}
.tg .tg-6oj4{border-color:inherit;text-align:center;vertical-align:top;font-weight: bold;}
.tg .tg-i8xh{text-align:left;vertical-align:top}
.tg .tg-eqqf{border-color:#000000;text-align:left;vertical-align:top}